@charset "ISO-8859-1";

#sports {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 50%;
}

#sports td, #customers th {
	border: 1px solid #ddd;
	padding: 5px;
}

#sports tr:nth-child(even) {
	background-color: #f2f2f2;
}

#sports tr:nth-child(odd) {
	background-color: #f2f2f2;
}

#sports tr:hover {
	background-color: #ddd;
}

#sports th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #4CAF50;
	color: white;
}
div>table {
  float: left
}