@charset "ISO-8859-1";

#sports {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 50%;
}

#sports td, #sports th {
	border: 1px solid #ddd;
	padding: 15px;
}

#sports tr:nth-child(even) {
	background-color: #f2f2f2;
}

#sports tr:nth-child(odd) {
	background-color: #f2f2f2;
}

#sports tr:hover {
	background-color: #ddd;
}

#sports th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #4CAF50;
	color: white;
}



/* #club {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 50%;
}

#club td, #club th {
	border: 1px solid #ddd;
	padding: 15px;
}

#club tr:nth-child(even) {
	background-color: #f2f2f2;
}

#club tr:nth-child(odd) {
	background-color: #f2f2f2;
}

#club tr:hover {
	background-color: #ddd;
}

#club th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #4CAF50;
	color: white;
} */
